@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Nunito', sans-serif;
  background: #1c1d26;
  color: #ffffffbf;
}


@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  opacity: 1;
}

.link-github {
  position: relative;
  text-decoration: none;

  /* Define o estilo do sublinhado */
  &:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ec4899;
    transform: scaleX(0); /* Torna o sublinhado invisível */
    transform-origin: bottom right;
    transition: transform 0.3s ease;
  }

  /* Aplica o sublinhado quando o mouse passa por cima */
  &:hover:after {
    transform: scaleX(1); /* Torna o sublinhado visível */
    transform-origin: bottom left;
  }
}

#footer{
  background: #272833;
}

#footer ul li a{
  transition: color 0.3s;
  -webkit-transition: color 0.3s;
  color: #5f5e61;
}

#footer ul li a:hover{
  color: #ffffffbf;
}